ul,
p {
    font-family: 'Playfair Display', serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

span {
    font-family: 'Poppins', sans-serif;
}

/* @media (min-width: 400px) {
    .navbar-center p {
        display: none;
    }
} */

.navbar {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}


.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Playfair Display', serif;

}

.link:hover {
    color: black !important;
}


.link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.link:hover:after {
    color: black !important;
    border-radius: 50%;
    transform: scaleX(95%);
    transform-origin: center;
}

.searchbar {
    padding: 12px 16px;
    border: none;
    /* background-color: #f7f6f6; */
    outline: none;
    margin-right: 15px;
    border-radius: 6px;
    width: 14rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}